version: '3.7'
services:
  db:
    image: "postgres:10"
    container_name: "seqdbapi_test_postgres"
    env_file:
      - ${BASE_PATH_TO_SEQDB:-.}/pg.env
    volumes:
      - ${BASE_PATH_TO_SEQDB:-.}/src/test/resources/init-db.sql:/docker-entrypoint-initdb.d/1-init-schema.sql
    ports:
      - "5432:5432"
        
