version: '3.7'
services:
  seqdb-db:
    image: "postgres:10"
    env_file:
      - ${BASE_PATH_TO_SEQDB:-.}/pg.env
    volumes:
      - ${BASE_PATH_TO_SEQDB:-.}/src/test/resources/init-test-db.sql:/docker-entrypoint-initdb.d/1-init-schema.sql
    
  seqdb-api:
    image: aafcbicoe/seqdb-api:2.1.3
    # build: ${BASE_PATH_TO_SEQDB:-.}
    ports:
      - "8084:8080"
    env_file:
      - ${BASE_PATH_TO_SEQDB:-.}/seqdb-api.env
    networks:
      default:      

